@model StudentManagement.Models.Student

@{
    ViewBag.Title = "Chi tiết";
}

<h2>THÔNG TIN HỌC SINH</h2>

<div>
    <h4>Chi tiết học sinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lớp</dt>
        <dd>@Html.DisplayFor(model => model.Class.ClassName)</dd>

        <dt>Họ và tên</dt>
        <dd>@Html.DisplayFor(model => model.FullName)</dd>

        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Số điện thoại phụ huynh</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt>Địa chỉ</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>Ngày sinh</dt>
        <dd>@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt>Giới tính</dt>
        <dd>@(Model.Gender ? "Nam" : "Nữ")</dd>

        @Html.ActionLink("Xem điểm", "StudentGrades", "AcademicRecords", new { studentId = Model.StudentId }, null)
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa thông tin", "Edit", new { id = Model.StudentId })
    <div class="mt-3">
        @Html.ActionLink("Quay lại danh sách", "Index")
    </div>
</p>
