@model StudentManagement.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>CHỈNH SỬA</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin học sinh: </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentId)

        <div>
            Họ và tên:
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            Email:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            Số điện thoại phụ huynh:
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            Địa chỉ:
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            Ngày sinh:
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control datetimepicker", @type = "date" })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var dateOfBirthInput = document.querySelector(".datetimepicker");
                        if (dateOfBirthInput) {
                            dateOfBirthInput.value = '@Model.DateOfBirth.ToString("yyyy-MM-dd")';
                        }
                    });
                </script>
            </div>
        </div>

        <div class="form-group mt-2">
            Giới tính:
            <span class="col-md-10">
                <span class="radio">
                    <label>
                        @Html.RadioButtonFor(model => model.Gender, true) Nam
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.Gender, false) Nữ
                    </label>
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </span>
            </span>
        </div>

        <div class="form-group mt-2 d-none">
            Chọn ảnh:
            <div class="col-md-10">
                <input type="file" name="ImageFile" class="form-control" onchange="previewImage(event)" />
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                <img id="imagePreview" src="#" alt="Image Preview" style="display:none; max-width: 100%; height: auto; margin-top: 10px;" />
            </div>
        </div>

        <div class="form-group mt-2">
            Chọn lớp:
            <div class="col-md-10">
                @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="mt-3">
    @Html.ActionLink("Về trang chủ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
